{% extends 'inherited.html' %}
{% load crispy_forms_tags %}


    <title>{% block title %} Register {% endblock title %}</title>

{% block content %}
<form action="" method="post" class="reg-form">
    {% csrf_token %} 
    <div class="forms">
       {{ reg_form.email.label }}
        {{ reg_form.email }}
    
        {{ reg_form.username.label }}
        {{ reg_form.username }}
    
        {{ reg_form.password1.label }}
        {{ reg_form.password1 }}
    
        {{ reg_form.password2.label }}
        {{ reg_form.password2 }}
    
        <button type="submit" class="btn btn-success reg-btn">REGISTER</button>

        <p>Have an account ? <a href="{% url 'login' %}">Sign In</a></p>
    
        <br>
        {{ form.errors }}
    
    </div>     
    </form>
{% endblock content %}